@layer tokens, reset, fonts, base, typography, components, utility;

@layer tokens {
  :root {
    --clr-primary-red-600: hsl(356, 42%, 43%);
    --clr-primary-gold-400: hsl(51, 100%, 50%);

    --clr-neutral-0: hsl(0, 100%, 100%);
    --clr-neutral-100: hsl(0, 96%, 100%);
    --clr-neutral-200: hsl(33, 36%, 95%);
    --clr-neutral-900: hsl(0, 0%, 0%);

    --fs-250: 0.875rem;
    --fs-300: 0.9375rem;
    --fs-400: 1rem;
    --fs-450: 1.125rem;
    --fs-500: 1.25rem;
    --fs-550: 1.5rem;
    --fs-600: 2rem;
    --fs-650: 2.125rem; /* section title? */

    --fw-400: 400;
    --fw-500: 500;
    --fw-700: 700;

    --ff-main: "Sofia Sans Condensed";
    --ff-secondary: "Inter";

    --ff-body-text: var(--ff-main);

    --page-padding: 10px;
  }

  @media (min-width: 62.5rem) {
    :root {
      --header-height: 135px;
    }
  }
}

@layer reset {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  * {
    margin: 0;
  }

  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }

  img,
  picture,
  video,
  canvas,
  svg {
    display: block;
    max-width: 100%;
    height: auto;
  }

  input,
  button,
  textarea,
  select {
    font: inherit;
  }

  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    overflow-wrap: break-word;
  }

  p {
    text-wrap: pretty;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    text-wrap: balance;
  }

  a {
    text-decoration: none;
  }

  ul,
  ol {
    list-style-type: none;
    padding-left: 0px;
  }

  button {
    padding: 0px;
  }

  /* [hidden] {
    display: none !important;
  } */
}

@layer fonts {
  /* FF-Main */
  @font-face {
    font-display: swap;
    font-family: "Sofia Sans Condensed";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/sofia-sans-condensed-v6-latin-regular.woff2") format("woff2");
  }

  @font-face {
    font-display: swap;
    font-family: "Sofia Sans Condensed";
    font-style: normal;
    font-weight: 500;
    src: url("../fonts/sofia-sans-condensed-v6-latin-500.woff2") format("woff2");
  }

  @font-face {
    font-display: swap;
    font-family: "Sofia Sans Condensed";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/sofia-sans-condensed-v6-latin-700.woff2") format("woff2");
  }

  /* FF-Secondary */
  @font-face {
    font-display: swap;
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/inter-v20-latin-regular.woff2") format("woff2");
  }
  @font-face {
    font-display: swap;
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/inter-v20-latin-700.woff2") format("woff2");
  }
}

@layer base {
  /* idk */

  body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

  main {
    display: flex;
    flex-direction: column;
  }

  body.menu-open {
    overflow: hidden;
    touch-action: none;
  }

  /* Layout */

  .grid-main {
    --grid-main-gap: 10px;
    --max: 71.25rem;
    --content: min(100% - (2 * var(--page-padding)), var(--max));
    --col-size: calc((var(--content) - 2 * var(--grid-main-gap)) / 3);

    display: grid;
    grid-template-columns:
      minmax(var(--page-padding), 1fr)
      repeat(2, minmax(0, var(--col-size)) var(--grid-main-gap))
      minmax(0, var(--col-size))
      minmax(var(--page-padding), 1fr);
  }

  .grid-main > * {
    grid-column: 2 / -2;
  }

  @media (min-width: 40rem) {
    .grid-main {
      --grid-main-gap: 20px;
      --col-size: calc((var(--content) - 7 * var(--grid-main-gap)) / 8);

      grid-template-columns:
        minmax(var(--page-padding), 1fr)
        repeat(7, minmax(0, var(--col-size)) var(--grid-main-gap))
        minmax(0, var(--col-size))
        minmax(var(--page-padding), 1fr);
    }
  }
  @media (min-width: 62.5rem) {
    .grid-main {
      --grid-main-gap: 30px;
      --col-size: calc((var(--content) - 11 * var(--grid-main-gap)) / 12);

      grid-template-columns:
        1fr
        repeat(11, minmax(0, var(--col-size)) var(--grid-main-gap))
        minmax(0, var(--col-size))
        1fr;
    }
  }
}

@layer typography {
  body {
    font-family: var(--ff-body-text);
  }

  h1 {
    font-size: 1rem;
  }

  .h2 {
    font-family: var(--ff-secondary);
    font-weight: var(--fw-500);
    font-size: var(--fs-650);
  }

  .h4 {
    text-transform: uppercase;
    font-weight: var(--fw-400);
    font-size: var(--fs-450);
  }
}

@layer components {
}

@layer utility {
  .skip-to-main {
    position: absolute;
    top: -80px; /* hide off-screen by default */
    left: 0;
    background: #000;
    color: #fff;
    padding: 8px 16px;
    z-index: 100;
    text-decoration: none;
    font-weight: bold;
    transition: top 0.3s;
  }

  .skip-to-main:focus {
    top: 0; /* slide into view when focused */
  }

  .sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    white-space: nowrap;
    border: 0;
  }
}
