---
import LinkOrButton from "../ui/LinkOrButton.astro";
import BarraLogo from "@/assets/icons/barra-text-logo.svg";
---

<div class="mobile-nav-overlay"></div>

<header class="site__header | grid-main">
  <div class="site__header-inner">
    <button
      class="nav-toggle"
      aria-controls="mobile-primary-nav"
      aria-expanded="false"
      aria-label="Open mobile navigation"
    >
      <svg class="hamburger-icon" width="40" viewBox="0 0 100 100" aria-hidden="true">
        <g class="top-group">
          <rect class="line line--top" x="15" y="25" rx="7.5" width="70" height="9"></rect>
        </g>
        <rect class="line line--middle" x="15" y="45" rx="7.5" width="70" height="9"></rect>
        <g class="bottom-group">
          <rect class="line line--bottom" x="15" y="65" rx="7.5" width="70" height="9"></rect>
        </g>
      </svg>
    </button>

    <nav class="nav nav--left" aria-label="Desktop navigation left">
      <ul>
        <li>
          <a href="/menu">Menu</a>
        </li>
        <li>
          <a href="/events-groups">Events & Groups</a>
        </li>
        <li>
          <a href="/whats-on">Whats' On</a>
        </li>
      </ul>
    </nav>

    <div class="site__logo-wrapper">
      <a href="/" aria-label="BARRA Home">
        <BarraLogo class="site-logo" aria-hidden="true" />
      </a>
    </div>

    <div class="nav__right-wrapper">
      <nav class="nav nav--right" aria-label="Desktop navigation right">
        <ul>
          <li><a href="/gift-cards">Gift cards</a></li>
          <li><a href="/contact">Contact</a></li>
        </ul>
      </nav>
      <LinkOrButton as="a" href="/book" variant="primary" text="book now" class="cta-btn" />
    </div>

    <nav id="mobile-primary-nav" class="mobile-nav" aria-label="Mobile primary navigation">
      <ul>
        <li>
          <a href="/menu">Menu</a>
        </li>
        <li>
          <a href="/events-groups">Events & Groups</a>
        </li>
        <li>
          <a href="/whats-on">Whats' On</a>
        </li>
        <li>
          <a href="/gift-cards">Gift cards</a>
        </li>
        <li>
          <a href="/contact">Contact</a>
        </li>
      </ul>
    </nav>
  </div>
</header>

<style>
  .site__header {
    position: sticky;
    top: 0;
    z-index: 2000;
    background-color: var(--clr-neutral-0);
  }

  .site__header-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-block: 20px;
  }

  .nav-toggle {
    background-color: transparent;
    border: 0px;
    cursor: pointer;
  }

  .mobile-nav {
    position: absolute;
    z-index: 200;
    top: 100%;
    left: 0;
    right: 0;

    /* display: block; */
    padding-inline-start: 10px;
    padding-block-start: 25px;
    padding-block-end: 10px;
    background-color: var(--clr-neutral-0);
    opacity: 0;

    display: none;

    transform: translateY(-10px);
    transition: 250ms ease-in-out;
    transition-property: transform, opacity, display;
    transition-behavior: allow-discrete;

    /*  */

    ul {
      display: grid;
      gap: 10px;
    }
  }

  nav a {
    font-size: var(--fs-500);
    color: var(--clr-neutral-900);
    text-transform: uppercase;
    cursor: pointer;
    transition: color 200ms ease-in-out;
  }

  nav a:hover {
    color: var(--clr-primary-gold-400);
  }

  .nav-toggle[aria-expanded="true"] ~ .mobile-nav {
    display: block;
    opacity: 1;
    transform: translateY(0);

    @starting-style {
      opacity: 0;
      transform: translateY(-10px);
    }
  }

  .nav {
    display: none;
  }

  .mobile-nav-overlay {
    position: fixed;
    inset: 0;
    background: hsl(0 0% 0% / 0.3);
    opacity: 0;
    visibility: hidden;
    transition:
      opacity 0.3s ease,
      visibility 0s linear 0.3s;
    z-index: 100;
    backdrop-filter: blur(2px);
  }

  body.menu-open .mobile-nav-overlay {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.3s ease;
  }

  /*  */

  .top-group,
  .bottom-group,
  .line {
    transform-box: fill-box;
    transform-origin: center;
  }

  /* Animation for hamburger opening */
  .nav-toggle[aria-expanded="true"] .top-group,
  .nav-toggle[aria-expanded="true"] .bottom-group {
    transition: transform 200ms ease-in-out;
  }

  .nav-toggle[aria-expanded="true"] .line {
    transition:
      transform 250ms ease-in-out 250ms,
      opacity 0ms 250ms;
  }

  /* animation for hamburger closing */
  .nav-toggle[aria-expanded="false"] .top-group,
  .nav-toggle[aria-expanded="false"] .bottom-group {
    transition: transform 200ms ease-in-out 200ms;
  }
  .nav-toggle[aria-expanded="false"] .line {
    transition:
      transform 200ms ease-in-out,
      opacity 0ms 200ms;
  }

  .nav-toggle[aria-expanded="true"] .top-group {
    transform: translateY(20px);
  }

  .nav-toggle[aria-expanded="true"] .line--top {
    transform: rotate(45deg);
  }

  .nav-toggle[aria-expanded="true"] .line--middle {
    opacity: 0;
  }
  .nav-toggle[aria-expanded="true"] .bottom-group {
    transform: translateY(-20px);
  }
  .nav-toggle[aria-expanded="true"] .line--bottom {
    transform: rotate(-45deg);
  }

  .site-logo {
    width: 100px;
    height: 55px;
  }

  .btn {
    transition: 250ms ease-in-out;
    transition-property: background-color, outline;
    outline: 1px solid var(--clr-primary-gold-400);
  }

  .btn:hover {
    background-color: transparent;
    outline: 1px solid var(--clr-primary-gold-400);
  }

  @media (min-width: 46rem) {
    .nav-toggle,
    .mobile-nav {
      display: none;
    }

    .nav {
      display: block;

      ul {
        display: flex;
        gap: 20px;
        align-items: center;
      }
    }

    .nav__right-wrapper {
      display: flex;
      align-items: center;
      gap: 20px;
    }
  }

  @media (min-width: 62.5rem) {
    .site__header-inner {
      padding-block: 40px;
    }

    .site-logo {
      width: 180px;
      height: 55px;
    }

    .nav {
      ul {
        gap: 30px;
      }
    }

    .nav__right-wrapper {
      gap: 30px;
    }

    nav a {
      letter-spacing: 0.5px;
    }
  }
</style>

<script>
  const navToggle = document.querySelector(`.nav-toggle`);
  const mobileNav = document.querySelector(`.mobile-nav`);
  const overlay = document.querySelector(`.mobile-nav-overlay`);
  const body = document.body;

  function toggleMenu() {
    const isOpen = body.classList.toggle(`menu-open`);

    navToggle!.setAttribute(`aria-expanded`, String(isOpen));

    if (isOpen) {
      body.dataset.scrollY = window.scrollY.toString();
    } else {
      const scrollY = Number(body.dataset.scrollY) || 0;
      window.scrollTo(0, scrollY);
    }
  }

  navToggle?.addEventListener(`click`, toggleMenu);
  overlay?.addEventListener(`click`, toggleMenu);
</script>
