---
const { title } = Astro.props;
import mobileHeroImg from "@/assets/images/mobile/hero-main-2x.jpg";
import desktopHeroImg from "@/assets/images/desktop/hero-main-1x.webp";
---

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width" />
  <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  <link
    rel="preload"
    href="/fonts/sofia-sans-condensed-v6-latin-regular.woff2"
    as="font"
    type="font/woff2"
    crossorigin
  />
  <link
    rel="preload"
    href="/fonts/inter-v20-latin-regular.woff2"
    as="font"
    type="font/woff2"
    crossorigin
  />
  <link
    rel="preload"
    href={mobileHeroImg.src}
    as="image"
    type="image/jpg"
    media="(max-width: 639px)"
  />
  <link
    rel="preload"
    href={desktopHeroImg.src}
    as="image"
    type="image/webp"
    media="(min-width: 640px)"
  />
  <meta name="generator" content={Astro.generator} />
  <title>{title}</title>
</head>
